@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;

  }

  ::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;

  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

* {
  box-sizing: border-box;
}


/* body {
  color: var(--foreground);
  background: var(--background);

} */